/* Global CSS Codes */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


/* Header Section CSS */

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(26, 26, 26);
}

.header ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 25px;
}

.header ul li:first-child {
    padding-left: 0;
}

.header ul li:last-child {
    padding-right: 0;
}

.header a{
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.btn-header a{
    border: 1px solid #4FC3F7;
    border-radius: 15px;
    padding: 10px 15px;
}

.logo-header a{
    font-weight: 800;
    font-size: 25px;
}

.active{
    color:#4FC3F7 !important;
}

.menu-header{
    padding: 0px 15px;
}